:root {
    --lt-color-green-100: #00bb2d;
    --lt-color-slate-100: #f1f5f9;
    --tr-color-black-100: #0000000c;

    --dark-color-body: #192229;
    --dark-color-content: #212e36;
    --dark-color-border: #2a3b47;
    --dark-color-card-100: #323d44;
}
