---
interface Props {
  title: string
  time: string
  responsibilities: string[]
}

const { title, time, responsibilities } = Astro.props
---

<article class="flex flex-col gap-4 experience-card">
  <h2 class="font-bold font-[Poppins] text-3xl">{title}</h2>
  <p>📅 {time}</p>
  <ul class="list-disc list-inside flex flex-col gap-5">
    {responsibilities.map((item) => <li>{item}</li>)}
  </ul>
</article>
