---
import BaseLayout from '@/layout/baseLayout.astro'
---

<BaseLayout
  title="Inicio"
  lang="es"
  description="Pagina de inicio"
  keywords={['home', 'portfolio', 'kcts']}
>
  <h1>Inicio</h1>
</BaseLayout>
