---
interface Props {
  size: 'sm' | 'xl'
}

const { size } = Astro.props
const sizeClass = {
  sm: 'max-w-3xl',
  xl: 'max-w-7xl'
}
---

<div class:list={[sizeClass[size], 'mx-auto p-4']}>
  <slot />
</div>
